@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

/* custom css */
:root {
  --primary: rgb(16 16 39);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.page-wrapper{
  background-color: var(--primary);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: #000;
}

/* logo */

.logo{
  color: #fff;
  padding-bottom: 5rem;
}

/* card component css */
.card{
  padding: 1.35rem;
}

.card .card-title{
    font-size: 1.5rem;
    font-weight: bold;
}
